{{ define "subscriber-data" }}
{{ template "header" . }}
<h2>{{ L.Ts "email.data.title" }}</h2>
<p>
  {{ L.Ts "email.data.info" }}
</p>
<p>
	Vous pouvez lire ce fichier avec un simple &eacute;diteur de texte.
</p>
{{ template "footer" }}
{{ end }}
